@import "icons/*.png";
@include all-icons-sprites;

.icons-logo {
	height: image-height('icons/logo.png');
	width: image-width('icons/logo.png');
}

.icons-facebook40 {
	height: image-height('icons/facebook40.png');
	width: image-width('icons/facebook40.png');
}

.icons-vkontakte40 {
	height: image-height('icons/vkontakte40.png');
	width: image-width('icons/vkontakte40.png');
}

.icons-red-cross {
	height: image-height('icons/red-cross.png');
	width: image-width('icons/red-cross.png');
}

.icons-green-checkmark {
	height: image-height('icons/green-checkmark.png');
	width: image-width('icons/green-checkmark.png');
}

.icons-fbshare-icon {
	height: image-height('icons/fbshare-icon.png');
	width: image-width('icons/fbshare-icon.png');
}