@import "header";
@import "bootstrap/bootstrap";
@import "image-assets";
@import "compass/css3/images";

.content-wrapper{
    .btn{
        border: 1px solid gray;
    }
}

#body{
    margin-bottom: 30px;
}

#footer{
    background-color: $lightGray;
    position: fixed;
    bottom: 0;
    width: 100%;
    .container{
        padding: 5px;
        color: #999;
    }
}

li.categoryContainer{
    @include background-image(linear-gradient(top, $lightGray 10%, white 50%, white));
    list-style: none;
    clear: both;
    padding-top: 10px;
    border-top: 1px solid #7f7f7f;
    overflow: hidden;

    h3{
        margin-top:5px;
    }

    div{
        margin-bottom: 5px;
    }

    .image-container{
        width: 230px;

        img{
            width: 150px;
            margin-left: 25px;
        }
    }
    .action{
        width: 100%;
        .btn-default{
            width: 200px;
            margin-top:5px;
        }
    }
}

.item-details{
    .row{
        margin: 10px 0;
        textarea{
            width: 100%;
        }

        .variantBlock{
            margin-bottom: 10px;
            input[type="radio"]{
                margin: 0 10px;
            }
        }
    }
    .caption{
        font-weight: bold;
    }
    img{
        width: 200px;
    }
}

#cnvRace{
    float: left;
    width: 33%;
    min-width: 400px;
}

.raceDetails{
    .questionContainer{
        padding-top: 20px;

        .variant-container{
            position: relative;
            .variantButton{
                width: 100%;
                margin: 10px 0;
                border: solid 1px gray;
                &.wrong{
                    border-color: red;
                }
                &.right{
                    border-color: green;
                }
            }
            .icon{
                position: absolute;
                top: 13px;
                right: -7px;
            }
        }
    }

    background-color: $lightGray;
    color: $textgray;
    th,td{
        padding:5px 10px;
    }

    h4{
        padding: 10px;
    }
}

table.table{
    .btn{
        margin-left: 10px;
    }
}