@import "header";
@import "bootstrap/bootstrap";
@import "image-assets";

li.categoryContainer{
    list-style: none;
    clear: both;
    padding-top: 10px;

    .image-container{
        width: 230px;

        img{
            width: 200px;
        }
    }
    .action{
        width: 100%;
        .btn-default{
            width: 100%;
            margin-top:5px;
        }
    }
}