@import "header";
@import "bootstrap/bootstrap";
@import "image-assets";
@import "compass/css3/images";

body{
    min-width: 420px;
}

.content-wrapper{
    .btn{
        border: 1px solid gray;
    }
}

html{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body{
    background-image: url('../../images/asphalt.png');
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
}

#body{
    min-height: 100%;
    min-height: calc(100% - 53px);
    padding-bottom: 30px;
    position: relative;
}

.playground{
    min-width: 400px;
}

#footer{
    background-color: $lightGray;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    .container{
        padding: 5px;
        color: #999;
    }
    left: 0;
    right: 0;

    .container{
        .vkshare{
            display: inline-block;
            height: 14px;
        }
    }
}

.clear:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.main-content{
    li.categoryContainer{
        @include background-image(linear-gradient(top, $lightGray 10%, white 50%, white));
        list-style: none;
        clear: both;
        padding-top: 10px;
        border-top: 1px solid #7f7f7f;
        overflow: hidden;
        margin: 0;

        h3{
            margin-top:5px;
        }

        div{
            margin-bottom: 5px;
        }

        .image-container{
            width: 230px;

            img{
                width: 150px;
                margin-left: 25px;
            }

            .action{
                margin-top: 5px;
            }
        }
        .action{
            width: 100%;
            .btn-default{
                width: 200px;
                margin-top:5px;
                &.small{
                    width: 80px;
                    margin: 0 5px;
                }
            }
        }

        ul.questions{
            margin-bottom: 5px;
            padding-left: 5px;
        }
    }
}

.main-content>ul{
    padding-left: 0;
    margin-left: 0;
}

.item-details{
    .row{
        margin: 10px 0;
        textarea{
            width: 100%;
        }

        .variantBlock{
            margin-bottom: 10px;
            input[type="radio"]{
                margin: 0 10px;
            }
        }
    }
    .caption{
        font-weight: bold;
    }
    img.caption{
        width: 200px;
    }
    .imageContainer img{
        max-width: 100%;
    }
}

.questionShort{
    max-height: 40px;
    overflow: hidden;

    &:hover{
        max-height: none;
    }
}

#cnvRace{
    float: left;
    width: 48%;
    text-align: center;
    min-width: 400px;
}

.raceDetails{
    float: left;
    width: 47%;
    margin-left: 1%;
    margin-right: 2%;

    .questionContainer{
        padding-top: 20px;

        .variant-container{
            position: relative;
            .variantButton{
                width: 100%;
                margin: 10px 0;
                border: solid 1px gray;
                &.wrong{
                    border-color: red;
                }
                &.right{
                    border-color: green;
                }
            }
            .icon{
                position: absolute;
                top: 13px;
                right: -7px;
            }
        }
    }

    background-color: $lightGray;
    color: $textgray;
    th,td{
        padding:5px 10px;
    }

    h4{
        padding: 10px;
    }
}

.carSelector{
    float: left;
    width: 47%;
    margin-left: 2%;
    margin-right: 1%;

    .carItem{
        cursor: pointer;
        float: left;
        margin-left: 10px;
        padding: 5px;

        &.selected{
            border: #333 2px solid;
            padding: 3px;
        }
    }

    .colorPicker{
        padding: 10px;

        .colorBox{
            border: 1px solid #ccc;
            float: left;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}

table.table{
    .btn{
        margin-left: 10px;
    }
}

.themeList{
    margin: 5px 0;

    .themeFrame{
        width: 200px;
        height: 150px;
        float: left;
        margin-left: 40px;
        position: relative;

        .imageFrame{
            border: 1px solid $lightGray;

            .caption{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 4px;
                @include background-image(linear-gradient(top, rgba(white, 0.5), rgba($lightGray, 1)));
                color: $textgray;
                .title{
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            img{
                max-width: 198px;
                max-height: 148px;
                width: 100%;
            }
        }

        .controlPanel{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.themeFilter{
    float: right;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 5px;
}

.icons-fbshare-icon{
    cursor: pointer;
    display: inline-block;
    margin: 0 0 -3px 5px;
}

.shareContainer{
    .vkshare{
        display: inline-block;
        height: 16px;
        margin-left: 10px;
        td{
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

.container{
    background-color: $lightGray;

    .lr_block{
        border-radius: 10px 10px 0 0;
        border: 1px solid white;
        margin-top: 10px;
        padding: 0;

        .lr_header{
            padding: 4px 10px;
            @include background-image(linear-gradient(top, white 10%, $lightGray));
            margin-bottom: 5px;
            border-radius: 10px 10px 0 0;
            font-family: monospace;
            font-size: 18px;
            font-weight: bold;
            border-bottom: none;
        }
    }
}

@media (max-width: 992px) {
    .raceDetails, .carSelector{
        width: 98%;
        margin: 0 1%;
    }

    #cnvRace{
        width: 100%;
    }
}