/* line 3, ../sass/header.scss */
html, body {
  font-family: arial;
}

/* line 8, ../sass/header.scss */
.navbar .score {
  float: right;
}
/* line 12, ../sass/header.scss */
.navbar .login-icon {
  border: none;
  margin: 5px 5px 5px 0;
  width: 40px;
  height: 40px;
}
/* line 19, ../sass/header.scss */
.navbar .login-menu {
  padding: 10px;
}
