@{
    ViewBag.Title = "Contact";
}

@section featured {
    Contact
}

<section class="contact" style="padding: 0 10px;">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span>Support:</span>
        <span><a href="mailto:Support@example.com">blackzzz.9@gmail.com</a></span>
    </p>
</section>